body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: black;
  overflow: hidden;
}
.boxPosition {
    position: absolute;
    left: 120px;
}
.star-info {
	font-size: 0.8em;
}
.star-info-item {
	width: 200px;
	display: block;
	padding-bottom: 15px;
}
.star-info-label {
	float: left;
	width: 60px;
	font-weight: bold;
	font-size: 0.9em;
}
.star-info-value {
	float: right;
	width: 130px;
	font-size: 0.9em;
}

.star-info-value a {
	outline:none;
}
.star-link-label {
	float: left;
	width: 120px;
	font-weight: bold;
}
.star-link-value {
	float: right;
	width: 280px;
}
.star-info-links {
	font-size: 1.2em;
	padding-top: 10px;
	padding-bottom: 10px;
}
#gaiacontrols {
	position: relative;
	top: -10px;
	color: white;
	font-size: 1.0em;
	width: 300px;
	background-color: rgba(0,0,0,0.7);
}

#gaiacontrols-text {
	padding: 10px;
}
#reticle-container {
	position: relative;
	width: 50px;
	top: 50%;
	left: 50%;
	pointer-events: none;
	z-index: 30;
}
#reticle {
	position: absolute;
	top: -20px;
	left: -20px;
	width: 40px;
	height: 40px;
	background: url("./reticle.png") no-repeat center center;
	pointer-events: none;
}
#gaia-search {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.75em;
	width: 20em;
	padding: 0.8em;
	background-color: rgba(32,32,32,0.7);
}

#label-search {
	width: 95%;
}

#gaia-search-help {
	margin-top: 20px;
}

#gaia-search-bookmark-link {
	color: white;
	font-family: Helvetica, Arial, sans-serif;
}

#gaia-display-header {
	font-size: 1.1em;
	margin-top: 10px;
	margin-bottom: 10px;
}

#gaia-display-title {
	font-size: 0.85em;
	margin-top: 7px;
	margin-bottom: 10px;
}

#gaia-display-submit {
	width: 7em;
	font-size: 0.8em;
}
.gaia-display-label-text {
	display: inline-block;
}

#label-ionizing-wrapper, #label-guides-wrapper, #label-dust-wrapper, #label-distance-wrapper {
	position: relative;
	top: -2px;
}

#opensedragon1 {
  width: 800px; 
  height: 500px;
}

#openseadragon1 :focus { outline: none; }

.clickable {cursor: pointer;}

#error {
	color: #FFCCCC;
	height: 1.0em;
	overflow: hidden;
	padding-top: 0.1em;
	font-size: 0.8em;
}
